<div class="ui container pad-top-form">
  <h2>Sign up</h2>
  <div class="center-me">
    <%= image_tag "updated-logo.png" %>
  </div>
  <div class="center-me">
    <%= form_with model: @user do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username %><br />
        <div class="ui input">
          <%= f.text_field :username %>
        </div>
      </div>
      <br />
      <div class="field">
        <%= f.label :email %><br />
        <div class="ui input">
          <%= f.email_field :email %>
        </div>
      </div>
      <br />
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <small>(<%= @minimum_password_length %> characters minimum)</small><br />
        <% end %>
        <div class="ui input">
        <%= f.password_field :password %>
        </div>
      </div>
      <br />
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <div class="ui input">
        <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Sign up", class: "ui primary button" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>