<%= form_with model: group do |f| %>
<div class="flex flex-col justify-center items-center">
<%= f.label :name, class: "text-sm md:text-xl mb-2 mt-4" %>
<%= f.text_field :name, autofocus: true, autocomplete: "name", class: "rounded" %>
<%= f.label :description, class: "text-sm md:text-xl mb-2 mt-4" %>
<%= f.text_area :description, autofocus: true, autocomplete: "name", class:"rounded" %>
<%= f.submit request.path.include?("new") ? "Create" : "Update", class: "bg-green rounded mt-4 p-2 md:p-2 text-white hover:text-black" %>
</div>
<% end %>
