<div class="center-me">
  <h2>Create New Group</h2>
  <%= current_user.name %>
  <%= form_with model: @group do |f| %>
  <div class="field">
      <%= f.label :name %><br />
      <div class="ui input">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
  </div>
  <div class="actions">
      <%= f.submit "Create", class: "ui primary button" %>
  </div>
  <% end %>
</div>