<div class="md:container md:mx-auto mt-12">
<h2 class="font-black my-6 sm:hidden md:show">Hi, <%= current_user.username %>!</h2>
<h4>See your expense categories:</h4>
  <div class="md:grid md:grid-cols-3 md:gap-4">
    <% current_user.groups.each do |category| %>
      <%= render 'groups/group-card', g: category %>
    <% end %>
  </div>
<%= draw_chart %>
<h4>Foreign Exchange Rates (EUR as base):</h4>
<% exchange_data.each do |key, value| %>
<%= key %><%= value %>
<% end %>
</div>