<h2>Hi, <%= current_user.username %>!</h2>
<h4>See your expense categories:</h4>
    <% current_user.groups.each do |category| %>
      <%= render 'groups/group-card', g: category %>
    <% end %>
<%= draw_chart %>
<h4>Foreign Exchange Rates (EUR as base):</h4>
<% exchange_data.each do |key, value| %>
<%= key %><%= value %>
<% end %>