<div class="ui container pad-top-form">
  <h2 class="center-me">Forgot your password?</h2>
    <div class="center-me">
        <%= image_tag "updated-logo.png" %>
    </div>
    <div class="center-me">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
            <%= f.label :email %><br />
            <div class="ui input">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
        </div>
        <br />
        <div class="actions">
            <%= f.submit "Send me instructions!", class: "ui primary button" %>
        </div>
        <%= render "devise/shared/links" %>
        <% end %>
    </div>
</div>