<div class="item pad-top-item">
    <%= image_tag expense.icon, class: "ui avatar image" %>
    <div class="content">
      <%= link_to expense.name, expense_path(expense.id), class: "header" %>
      <small class="description">$<%= expense.amount %> | Created on: <%= expense.created_at.strftime("%m/%d/%Y") %></small>
      <%= link_to "Delete", expense_path(expense.id), method: :delete %>
      <%= link_to "Edit", edit_expense_path(expense.id) %>
    </div>
  </div>