  <%= form_with model: expense do |f| %>
    <%= f.label :name %><br /><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <%= f.label :amount %>
    <%= f.number_field :amount, autofocus: true, autocomplete: "amount"%>
    <%= f.label "Category" %>
    <select name="expense[group_id]">
      <option disabled selected value>Select Category</option>
      <% groups.each do |g| %>
        <option value="<%= g.id %>"><%= g.name %></option>
      <% end %>
    </select>
    <%= f.submit request.path.include?("new") ? "Create" : "Update" %>
  <% end %>