<div class="center-me pad-top-form">
  <h2>Create New Expense</h2>
</div>
<div class="center-me">
  <%= form_with model: @expense do |f| %>
  <div class="field">
      <%= f.label :name %><br />
      <div class="ui input">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
  </div>
  <div class="field">
      <%= f.label :amount %><br />
      <div class="ui input">
          <%= f.number_field :amount, autofocus: true, autocomplete: "amount"%>
      </div>
  </div>
  <div class="field">
    <%= select_tag 'expense_group_id', options_for_select(@groups.collect{ |u| [u.name, u.id] }) %>
  </div>
  <div class="actions">
      <%= f.submit "Create", class: "ui primary button" %>
  </div>
  <% end %>
</div>