<h2 class="center-me">Create New Expense</h2>

<%= form_with model: @expense do |form| %>
  <% f.options[:html][:class] += 'ui form' %>
  <div class="field">
    <%= f.label :name %><br />
    <div class="ui input">
        <%= form.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <div class="ui input">
        <%= form.number_field :amount, autofocus: true, autocomplete: "amount"%>
    </div>
  </div>
  <div class="field">
    <%= form.select :group_id, @groups, class: "ui fluid dropdown" %>
  </div>
  <div class="actions">
    <%= f.submit "Create", class: "ui primary button" %>
  </div>
<% end %>
