<div class="center-me">
  <h2>Create New Expense</h2>
</div>
<div class="center-me">
  <%= form_with model: @expense do |f| %>
  <div class="field">
      <%= f.label :name %><br />
      <div class="ui input">
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
  </div>
  <div class="field">
      <%= f.label :amount %><br />
      <div class="ui input">
          <%= f.number_field :amount, autofocus: true, autocomplete: "amount"%>
      </div>
  </div>
  <div class="field">
      <%= f.select :group_id, @groups, class: "ui fluid dropdown" %>
  </div>
  <div class="actions">
      <%= f.submit "Create", class: "ui primary button" %>
  </div>
  <% end %>
</div>