<!DOCTYPE html>
<html>

<head>
    <title>McNamara</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('updated-logo.png') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
</head>

<body>
    <% if user_signed_in? %>
    <div class="ui fluid container">
        <div class="ui top fixed menu color-me-blue">
            <div class="item">
                <%= image_tag "updated-logo.png" %>
            </div>
            <%= link_to "Expenses", expenses_path, class: "item" %>
            <%= link_to "External Expenses", expenses_path, class: "item" %>
            <%= link_to "Categories", groups_path, class: "item" %>
        </div>
        <div class="ui bottom fixed menu color-me-blue">
            <div class="item">Hi, <%= current_user.username %>!</div>
            <%= link_to "Add Expense", new_expense_path, class: "item" %>
            <%= link_to "Add Group", new_group_path, class: "item" %>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "item" %>
        </div>
    </div>
    <% end %>
    <%= yield %>
</body>

</html>