<!DOCTYPE html>
<html>

<head>
    <title>McNamara</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('updated-logo.png') %>
</head>

<body>
    <% if user_signed_in? %>
    <li><%= link_to "Expenses", expenses_path %></li>
    <li> <%= link_to "External Expenses", expenses_uncategorized_path %></li>
    <li><%= link_to "Categories", groups_path %></li>
    <%= link_to "Add Expense", new_expense_path, class: "item" %>
    <%= link_to "Add Category", new_group_path, class: "item" %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "item" %>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
</body>

</html>